<%= form_for(contact) do |f| %>

  <div class="field">
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>

  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
  <%= f.label :image %>
    <%= f.file_field(:image) %>
    <%= f.hidden_field(:image_cache)  %>
  </div>

  <div class="field">
    <%= f.label :video %>
    <%= f.file_field(:video) %>
    <%= f.hidden_field(:video_cache)  %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
