<%= form_for(contact) do |f| %>

  <div class="field">
    <%= f.label :imageTest %>
    <%= f.file_field(:file) %>
  </div>

  <div class="field">
    <%= f.label :video %>
    <%= f.file_field(:file_video) %>
  </div>

  <div class="field">
    <%= f.label :imageTestes %>
    <%= f.file_field(:files, multiple: true) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
