<%= form_for(contact) do |f| %>

  <div class="field">
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>

  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.hidden_field(:image_cache)  %>
    <%= f.file_field(:image) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
