<style>
  th, td{
    border: 1px solid black;
  }
</style>

<table>
  <thead>
    <tr>
      <th>firstname</th>
      <th>lastname</th>
      <th>Image</th>
      <th>Video</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.firstname %></td>
        <td><%= contact.lastname %></td>
        <td>
          <a href="<%= contact.image.url %>" target="_blank">
            <%= image_tag(contact.image.thumbnail.url) %>
          </a>
        </td>
        <td>
          <!-- for download: <contact.video.url> -->
          <!-- cl_video_tag("i5lccfrzgyam9ffusgi8.3gp") -->
          <%= video_tag(contact.video) %> 
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Contact', new_contact_path %>
