<style>
  th, td{
    border: 1px solid black;
  }
</style>

<%= link_to 'New Contact', new_contact_path %>

<table>
  <thead>
    <tr>
      <th>firstname</th>
      <th>lastname</th>
      <th>Image</th>
      <th>Video</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.firstname %></td>
        <td><%= contact.lastname %></td>
        <td>
          <a href="<%= contact.image.url %>" target="_blank">
            <%= image_tag(contact.image.thumbnail.url) %>
          </a>
        </td>
        <td>
          <!-- TODO: search right way to show videos -->
          <!-- for download: <contact.video.url> -->
          <!-- video_tag(contact.video) -->
           <!-- cl_video_tag(contact.video) -->
           <% if !contact.video.blank? %>
             <video width="400" controls>
               <source src="<%= contact.video %>" type="video/mp4">
                 Your browser does not support HTML5 video.
             </video>
           <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
