<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.firstname %>
</p>

<p>
  <strong>Image:</strong>
  <%= @contact.lastname %>
</p>

<p>
  <strong>Video:</strong>
  <%= @contact.image %>
</p>

<%= link_to 'Back', contacts_path %>
