<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.firstname %>
</p>

<p>
  <strong>lastname:</strong>
  <%= @contact.lastname %>
</p>

<p>
  <strong>Image: </strong>
  <a href="<%= @contact.image.url %>" target="_blank">
    <%= image_tag(@contact.image.thumbnail.url) %>
  </a>
</p>


</div>

<%= link_to 'Back', contacts_path %>
