<div>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @contact.firstname %>
  </p>

  <p>
    <strong>lastname:</strong>
    <%= @contact.lastname %>
  </p>

  <p>
    <strong>Image: </strong>
    <a href="<%= @contact.image.url %>" target="_blank">
      <%= image_tag(@contact.image.thumbnail.url) %>
    </a>
  </p>

  <p>
    <strong>Video: </strong>
    <% if !@contact.video.blank? %>
      <video width="400" controls>
        <source src="<%= contact.video %>" type="video/mp4">
          Your browser does not support HTML5 video.
      </video>
    <% end %>
  </p>
</div>


<%= link_to 'Back', contacts_path %>
